/*
*  Copyright (c) 2020 Otávio Santana and others
*   All rights reserved. This program and the accompanying materials
*   are made available under the terms of the Eclipse Public License v1.0
*   and Apache License v2.0 which accompanies this distribution.
*   The Eclipse Public License is available at http://www.eclipse.org/legal/epl-v10.html
*   and the Apache License v2.0 is available at http://www.opensource.org/licenses/apache2.0.php.
*
*   You may elect to redistribute this code under either of these licenses.
*
*   Contributors:
*
*   Otavio Santana
*/
package {{package}};

import jakarta.nosql.mapping.Repository;
import jakarta.nosql.mapping.document.DocumentTemplate;
import org.eclipse.jnosql.mapping.lite.document.AbstractLiteDocumentRepository;
import org.eclipse.jnosql.mapping.lite.entities.Actor;
import org.eclipse.jnosql.mapping.lite.metadata.ClassMappings;
import org.eclipse.jnosql.mapping.lite.metadata.DefaultClassMappings;
import org.eclipse.jnosql.mapping.lite.metadata.EntityMetadata;
import java.util.Objects;

import javax.annotation.processing.Generated;

@Generated(value= "JNoSQL Lite Repository Generator", date = "{{now}}")
public class {{entityType}}Repository extends AbstractLiteDocumentRepository<{{entityType}}, {{keyType}}>
implements Repository<{{entityType}}, {{keyType}}> {

    private final DocumentTemplate template;

    private final EntityMetadata metadata;

    public ActorRepository(DocumentTemplate template) {
           this.template = Objects.requireNonNull(template, "template is required");
            ClassMappings mappings = new DefaultClassMappings();
            this.metadata = mappings.get({{entityType}}.class);
    }


    @Override
    protected DocumentTemplate getTemplate() {
        return template;
    }

    @Override
    protected EntityMetadata getClassMapping() {
        return metadata;
    }
}
